@charset "utf-8"; 

body {
	font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB",
		"Microsoft YaHei", SimSun, Heiti, sans-serif;
	margin: 0;
	font-size: 100%;
	background: #efefef
}

h1 {
	margin: 0
}

.top {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	color: #fff;
	font-size: 36px;
	font-weight: 500;
	background: #303538;
	text-align: center
}

.login {
	width: 80%;
	margin: 100px auto;
	padding: 30px 10px 30px 10px;
	background: #fff;
	margin-top: 100px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	max-width: 500px;
	box-shadow: rgba(0, 0, 0, 0.0392157) 0 1px 10px -10px,
		rgba(0, 0, 0, 0.0392157) 0 18px 20px -10px, rgba(0, 0, 0, 0.0392157) 0
		18px 20px 5px, rgba(0, 0, 0, 0.0392157) 0 18px 20px -10px;
	border: 1px #dadada solid
}

form {
	display: inline-block
}

input {
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	width: 80%;
	margin: 8px 0 18px;
	height: 40px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 0;
	background: #efefef
}

.submit {
	color: #fff;
	background: #303538;
	width: 70%;
	text-align: center
}

div {
	display: block
}

.container {
	display: flex
}

.container .login {
	flex: 1
}

body, td, th {
	color: #303538
}

a:link {
	color: #303538
}